<table>
  <tr>
    <th>Category</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>all time avg</td>
    <td>{{card.product.priceGuide.SELL}}</td>
  </tr>
  <tr>
    <td>current avg</td>
    <td>{{card.product.priceGuide.AVG}}</td>
  </tr>
  <tr>
    <td>lowest ex</td>
    <td>{{card.product.priceGuide.LOWEX}}</td>
  </tr>
  <tr>
    <td>lowest price</td>
    <td>{{card.product.priceGuide.LOW}}</td>
  </tr>
  <tr>
    <td>lowest foil</td>
    <td>{{card.product.priceGuide.LOWFOIL}}</td>
  </tr>
</table>


