<div class="std-margin">
  <form (ngSubmit)="onSubmit(searchForm)" [formGroup]="searchForm">
  <mat-form-field >
    <mat-label>Search</mat-label>
    <input matInput placeholder="Snapcaster Mage" formControlName="cardName" ngMinlength="6">
  </mat-form-field>

    <mat-form-field class="std-margin">
      <mat-label>Expansions</mat-label>
      <mat-select (selectionChange)="expansionSeleted($event)">
        <mat-option *ngFor="let expansion of expansions" [value]="expansion.idExpansion">
          {{expansion.enName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<div class="flex-container std-margin">

    <app-card-stats [cards]="cards">
    </app-card-stats>

    <app-card *ngFor="let card of cards" [card]="card">
    </app-card>

</div>


