/* You can add global styles to this file, and also import other style files */

body {
}


.std-margin-bot {
  margin-bottom: 15px;
}

.std-margin {
  margin: 15px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  min-width: 250px;
  max-width: 250px;
  margin-bottom: 30px;
}

.no-text-overflow {
  white-space: nowrap;
  overflow: scroll;
}
