<mat-card class="card">

  <mat-card-title class="no-text-overflow"> {{card.product.name}}</mat-card-title>
  <mat-card-subtitle class="no-text-overflow">{{card.product.expansion}}</mat-card-subtitle>
  <a href="{{ 'https://www.cardmarket.com/' + card.product.website}}" target="_blank">
    <img class="image" mat-card-lg-image src="{{card.product.image}}">
  </a>
  <mat-card-content>
    <app-price-guide *ngIf="card.product.priceGuide" [card]="card">
    </app-price-guide>
  </mat-card-content>

    <mat-card-actions>
      <button color="primary" mat-button (click)="trackCard()">{{card.product.isTracked ? 'Stop tracking' : 'Track'}}</button>
      <button *ngIf="!card.product.priceGuide" color="primary" mat-button (click)="reloadPriceForCard()">Reload prices</button>
    </mat-card-actions>


</mat-card>
