<mat-toolbar color="primary" class="navbar">
  <div>Mkm Analyzer</div>
  <div>
    <span *ngIf="router.url == '/login' || router.url == '/'" [routerLink]="'/login'" [routerLinkActive]="'active'">Login</span>

    <span *ngIf="router.url != '/login' && router.url != '/'" [routerLink]="'/search'" [routerLinkActive]="'active'">Search</span>
    <span *ngIf="router.url != '/login' && router.url != '/'" [routerLink]="'/manage'" [routerLinkActive]="'active'">Tracked cards</span>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
