<mat-card class="card">

  <mat-card-title>Statistics</mat-card-title>

  <mat-card-subtitle>Product count: {{cards.length}}</mat-card-subtitle>
  <mat-card-subtitle>Sum of all time averages {{sumOfAllTimeAvgs}}</mat-card-subtitle>
  <mat-card-subtitle>Average of all time averages {{avgOfFoundArticles}}</mat-card-subtitle>

</mat-card>
